
    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form name="login" action="" method="post" novalidate >
        <fieldset class="form-group">
            <legend>{{title1}}</legend>     
            {{ form2.hidden_tag() }}       
                <p> {{ form2.subject.label }}</br>
                    {{ form2.subject }}
                    {% for error in form2.subject.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form2.category.label }}</br>
                    {{ form2.category }}
                    {% for error in form2.category.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form2.priority.label }}</br>
                    {{ form2.priority }}
                    {% for error in form2.priority.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form2.comment.label }}</br>
                    {{ form2.comment }}
                    {% for error in form2.comment.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
 
                <p> 
                    {{ form2.submit() }}
                </p>
            
               
            
        </fieldset>
        </form>


    </div>
    {% endblock %}