
    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form name="login" action="" method="post" novalidate>
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.subject.label }}</br>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.category.label }}</br>
                    {{ form.userId }}
                    {% for error in form.userId.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.priority.label }}</br>
                    {{ form.role }}
                    {% for error in form.role.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.comment.label }}</br>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <form name="imageupload" action="{{url_for('createTicket')}}" method="post" enctype=multipart/form-data>
                    <p>{{form.image.labe}}br>
                        {{ form.image }}
                        {% for error in form.image.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <input type="hidden" name="fileUpload" value="True">

                    <p> 
                        {{ form.submit() }}
                    </p>
                </form>
                
            
                <p> 
                    {{ form.submit() }}
                </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}