{% extends "layout.html" %}
   
{% block content %}
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Ticket id</th>
            <th scope="col">User</th>
            <th scope="col">subject</th>
            <th scope="col">category</th>
            <th scope="col">priority</th>
            <th scope="col">status</th>
            <th scope="col">created on</th>
            <th scope="col">updated on</th>
            <th scope="col">action</th>
        </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td scope='row'>{{ data.ticketId }}</td>
                <td>{{ data.user_id }}</td>
                <td>{{ data.subject }}</td>
                <td>{{ data.category }}</td>
                <td>{{ data.priority }}</td>
                <td>{{ data.status }}</td>
                <td>{{data.created_at }}</td>
                <td>{{ data.updated_at }}</td>
                <td>
                    {% set x=data['ticketId'] %}
                    <!--<FORM METHOD="POST" name="view" action="{{ url_for('viewticket') }}">
                        <input type="hidden" name="viewx" value="{{x}}">
                        <button type="submit">view</button>
                    </FORM>-->
                    <a href="{{ url_for('viewticket', ticket_id=x) }}"><button class="btn btn-small">view</button></a>
                </form>
                </td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>

        <p>{{ data }}</p>
    </div>
{% endblock %}