{% extends "layout.html" %}

{% block content %}

    
    <div class="tile is-ancestor">
        

        <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[totalT]}}</p>
              <p class="subtitle">Total Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[newT]}}</p>
              <p class="subtitle">New Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[closedT]}}</p>
              <p class="subtitle">Closed Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[solvedT]}}</p>
              <p class="subtitle">Solved Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[unsolvedT]}}</p>
              <p class="subtitle">Unsolved Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[assignedT]}}</p>
              <p class="subtitle">Assigned Tickets</p>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">{{dashboardData[unassignedT]}}</p>
              <p class="subtitle">Unassigned Tickets</p>
            </article>
          </div>
        
    </div>

    <p><a href={{ url_for('createTicket') }}>try</a></p>

{% endblock %}