html,
      body,
      header,
      .view {
        height: 100vh;
      }

      @media (max-width: 740px) {
        html,
        body,
        header,
        .view {
          height: 815px;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .view  {
          height: 650px;
        }
      }


      .md-form label {
          color: black;
      }
      h6 {
          line-height: 1.7;
      }


      .card {
          margin-top: 30px;
          /*margin-bottom: -45px;*/

      }

      .md-form input[type=text]:focus:not([readonly]),
      .md-form input[type=password]:focus:not([readonly]) {
          border-bottom: 1px solid black;
          box-shadow: 0 1px 0 0 black;
      }
      .md-form input[type=text]:focus:not([readonly])+label,
      .md-form input[type=password]:focus:not([readonly])+label {
          color: black;
      }

      .md-form .form-control {
          color: black;
      }
