


{% if session.get('user_id') %}
<!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
      <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center">
            <a href="#" class="pl-0"><img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
          </div>
        </li>

        <!-- Search Form -->
        <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li>

        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">

            <li>
              <a href="{{ url_for('createticket')}}" class="collapsible-header waves-effect"><i
                  class="w-fa fas fa-chart-pie"></i>Create new ticket</a>
            </li>
  
            <!-- Simple link -->
            
          </ul>
        </li>
        <!-- Side navigation links -->

      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

<!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav pb-mb-0">

    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-dn mr-auto">
      <p>Dashboard v.1</p>
    </div>

  </nav>

  {% else %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar pb-0 mb-0">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>MDB</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div>
</nav>
{% endif %}
