


{% if not request.endpoint == 'login' %}
<!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav  fixed">
      <ul class="custom-scrollbar">
        <div class=" py-3 blue-gradient text-center"><h2><strong class="">CRM</strong></h2></div>
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">

            <li>
              <a href="{{ url_for('createticket')}}" class="collapsible-header waves-effect"><i
                  class="w-fa fas fa-chart-pie"></i>Create new ticket</a>
            </li>


            <li>
              <a id="regli" href="{{ url_for('register')}}" class="collapsible-header waves-effect invisible"><i
                  class="w-fa fas fa-chart-pie"></i>Register User</a>
            </li>



            <!-- Simple link -->

          </ul>
        </li>
        <!-- Side navigation links -->

      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

<!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav pb-mb-0">

    <!-- SideNav slide-out button -->
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>

    <!-- Breadcrumb -->
    <div class="breadcrumb-dn mr-auto">
      <ol class="breadcrumb" id="breadC">
        <li class="breadcrumb-item active "><a href="{{url_for('dashboard')}}" class="black-text">Dashboard</a></li>
      </ol>
    </div>

  </nav>

  {% else %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar white pb-0 mb-0">
  <div class="container">

  </div>
</nav>
{% endif %}
