
    {% extends "layout.html" %}
   
    {% block content %}
    
    <div class="container">
         <form name="createticket"  method="post" enctype="multipart/form-data" novalidate >
        <fieldset class="form-group">
            <legend>{{title}}</legend>     
            {{ form.hidden_tag() }}       
                <p> {{ form.subject.label }}</br>
                    {{ form.subject }}
                    {% for error in form.subject.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
                <p> {{ form.category.label }}</br>
                    {{ form.category }}
                    {% for error in form.category.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
            
                <p> {{ form.priority.label }}</br>
                    {{ form.priority }}
                    {% for error in form.priority.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
                <p> {{ form.comment.label }}</br>
                    {{ form.comment }}
                    {% for error in form.comment.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>

                <p> {{ form.image.label }}</br>
                    {{ form.image }}
                    {% for error in form.image.errors %}
                     <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </p>
            
            
            
                <p> 
                    {{ form.submitT() }}
                </p>
            
        </fieldset>
        </form>
    </div>
    {% endblock %}