
    {% extends "layout.html" %}

    {% block content %}

    <div class="container">
      <div class="row">
        <div class="col">
      <div class="card text-dark">

          <h5 class="card-header info-color white-text text-center py-4">
              <strong>{{title}}</strong>
          </h5>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">

              <!-- Form -->
              <form name="create" id="create" class="pt-5 pb-5 text-center text-body" method="post" enctype="multipart/form-data">

                  <div class="md-form form-sm mb-5">
                    <input type="text" id="subject" name="subject" class="form-control form-control-sm validate" required />
                    <label id="labelforsubject" for="subject">Description</label>
                  </div>

                  <div class="md-form form-sm mb-1">
                    <input type="text" id="category" name="category" class="form-control form-control-sm validate" required />
                    <label id="labelforcategory" for="category">category</label>
                  </div>


                    <select class="mdb-select md-form" name="priority">
                      <option value="" disabled selected>priority</option>
                      <option value="LOW">Low</option>
                      <option value="MEDIUM">Medium</option>
                      <option value="HIGH">High</option>
                    </select>


                  <div class="md-form form-sm mb-5">
                    <textarea id="description" name="description" class="md-textarea form-control" rows="3"></textarea>
                    <label id="labelfordescription" for="description">Notes</label>

                  </div>

                  <label id="labelforpicture" >{{title2}}</label>
                  <div class="md-form form-sm mb-5">
                    <input type="file" name="image" id="image" class="form-control form-control-sm validate" required />

                  </div>

                  <!--pass the user id-->
                  <input type="hidden" name="userId" id="userId"/>

                  <button class="btn btn-outline-info btn-rounded my-4 waves-effect z-depth-0" id="createbtn" name="submit" type="submit" value="Register Form">
                      Create
                  </button>

              </form>

              <!-- Form -->

          </div>

      </div>
      <!-- Material form register -->
    </div>
    </div>
    </div>
    {% endblock %}
    {% block script %}
     <script type="text/javascript" src="{{  url_for('static',filename='js/pagesJS/createticket.js') }}"></script>
    {% endblock %}
