{% extends "layout.html" %}

{% block content %}

<section class="mt-md-0 pt-md-0 mb-2 pb-2">
  <!-- Card -->
    <div class="card ">

      <!-- Section: Chart -->
      <section>

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-xl-5 col-lg-12 mr-0">


            <!-- Card image -->

            <!-- Card content -->
            <div class="card-body pb-0">
              <!-- Card image -->
              <div class="card-header">
                <h2 class="h2-responsive mb-0">Tickets</h2>
              </div>
              <!-- Panel data -->
              <div class="row card-body pt-3">

                <!-- First column -->
                <div class="col-md-6">
                  <p><a href="dash.html" id="newTL" class="blue-text">New Tickets</a> : <b class="check" id="newT"></b></p>
                  <p><a href="dash.html" id="assignedTL" class="blue-text">Assigned Tickets</a> : <b class="check" id="assignedT"></b></p>
                  <p><a href="dash.html" id="solvedTL" class="blue-text">Solved Tickets</a> : <b class="check" id="solvedT"></b></p>
                  <p><a href="dash.html" id="unsolvedTL" class="blue-text">Unsolved Tickets</a> : <b class="check" id="unsolvedT"></b></p>
                  <p><a href="dash.html" id="closedTL" class="blue-text">Closed Tickets</a> : <b class="check" id="closedT"></b></p>
                </div>
                <!-- First column -->

                <!-- Second column -->
                <div class="col-md-6 text-center">
                  <p>Total Tickets: <strong class="check" id="totalT"></strong>
                    <button type="button" class="btn btn-info btn-sm p-2" data-toggle="tooltip" data-placement="top"
                    title="Total Tickets in the given period"><i class="fas fa-question"></i></button>
                  </p>

                  <!-- Date select -->
                      <p class="lead"><span class="badge info-color p-2">Data range</span></p>
                      <select class="mdb-select colorful-select dropdown-info" id="getStatDate">
                        <option value="" disabled selected>period</option>
                        <option value="Today">Today</option>
                        <option value="Yesterday">Yesterday</option>
                        <option value="7days">Last 7 days</option>
                        <option value="30days">Last 30 days</option>
                        <option value="week">Last week</option>
                        <option value="month">Last month</option>
                      </select>


                </div>
                <!-- Second column -->
              </div>
              <!-- Panel data -->

            </div>
            <!-- Card content -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-7 col-lg-12 mb-4">

            <div class="card card-cascade narrower pt-3 mt-3">

              <!-- Card image -->
              <div class="view view-cascade gradient-card-header blue">
                <h5 class="mb-0">Statistics</h5>
              </div>
              <!-- Card image -->

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <canvas id="barChart" height="150px"></canvas>

              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

          </div>
        </div>
      </section>
    </div>
</section>


</div>
{% endblock %}
{% block script %}
 <script type="text/javascript" src="{{  url_for('static',filename='js/pagesJS/dashboard.js') }}"></script>
{% endblock %}
