{% extends "layout.html" %}

{% block content %}

<!-- Section: data tables -->
      <section class="pb-3">

        <div class="row">

          <div class="col-xl-4 col-md-6">

            <div class="card mb-4">
              <div class="card-body">
                <h4 class="h4-responsive text-center mb-3 font-weight-bold ">
                  Visits by Browser
                </h4>
                <canvas id="doughnutChart"></canvas>
              </div>
            </div>

          </div>

          <div class="col-xl-8 col-md-6">

            <div class="card mb-4">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="font-weight-bold "><strong>Country</strong></th>
                      <th class="font-weight-bold "><strong>Visits</strong></th>
                      <th class="font-weight-bold "><strong>Pages</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><img src="../../img/flags/us.png" class="flag"> United States</td>
                      <td>15</td>
                      <td>307</td>
                    </tr>
                    <tr>
                      <td><img src="../../img/flags/in.png" class="flag"> India</td>
                      <td>32</td>
                      <td>504</td>
                    </tr>
                    <tr>
                      <td><img src="../../img/flags/cn.png" class="flag"> China</td>
                      <td>41</td>
                      <td>613</td>
                    </tr>
                    <tr>
                      <td><img src="../../img/flags/pl.png" class="flag"> Poland</td>
                      <td>14</td>
                      <td>208</td>
                    </tr>
                    <tr>
                      <td><img src="../../img/flags/it.png" class="flag"> Italy</td>
                      <td>24</td>
                      <td>314</td>
                    </tr>
                  </tbody>
                </table>
                <button
                  class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect float-right font-weight-bold  btn-dash">View
                  full report</button>
              </div>
            </div>

          </div>

        </div>

      </section>
      <!-- Section: data tables -->




<div class="card">
<!-- Section: Classic admin cards -->
<section class="mt-md-0 pt-md-0 mb-2 pb-2">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

      <!-- Card Primary -->
      <div class="card classic-admin-card primary-color">
        <div class="card-body">
          <div class="pull-right">
            <i class="far fa-money-bill-alt"></i>
          </div>
          <p ><a href="" class="black-text">Total Tickets</a></p>
          <h4 class="check">{{dashboardData.totalT}}</h4>
        </div>

      </div>
      <!-- Card Primary -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

      <!-- Card Yellow -->
      <div class="card classic-admin-card warning-color">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-line"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='NEW') }}" class="black-text">New Tickets</a></p>
          <h4 class="check">{{dashboardData.newT}}</h4>
        </div>

      </div>
      <!-- Card Yellow -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-md-0 mb-4">

      <!-- Card Blue -->
      <div class="card classic-admin-card light-blue lighten-1">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-pie"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='OPEN') }}" class="black-text">Open Tickets</a></p>
          <h4 class="check">{{dashboardData.openT}}</h4>
        </div>

      </div>
      <!-- Card Blue -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-0">

      <!-- Card Red -->
      <div class="card classic-admin-card red accent-2">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-bar"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='CLOSED') }}" class="black-text">Closed Tickets</a></p>
          <h4 class="check">{{dashboardData.closedT}}</h4>
        </div>

      </div>
      <!-- Card Red -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Classic admin cards -->

<!-- Section: Classic admin cards -->
<section class="mt-md-0 pt-md-0 mb-5 pb-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

      <!-- Card Primary -->
      <div class="card classic-admin-card primary-color">
        <div class="card-body">
          <div class="pull-right">
            <i class="far fa-money-bill-alt"></i>
          </div>
          <p class="white-text"><a href="{{ url_for('dash',urlto='SOLVED') }}" class="black-text">Solved Tickets</a></p>
          <h4 class="check">{{dashboardData.solvedT}}</h4>
        </div>

      </div>
      <!-- Card Primary -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

      <!-- Card Yellow -->
      <div class="card classic-admin-card warning-color">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-line"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='UNSOLVED') }}" class="black-text">Unsolved Tickets</a></p>
          <h4 class="check">{{dashboardData.unsolvedT}}</h4>
        </div>

      </div>
      <!-- Card Yellow -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-md-0 mb-4">

      <!-- Card Blue -->
      <div class="card classic-admin-card light-blue lighten-1">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-pie"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='ASSIGNED') }}" class="black-text">Assigned Tickets</a></p>
          <h4 class="check">{{dashboardData.assignedT}}</h4>
        </div>

      </div>
      <!-- Card Blue -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-3 col-md-6 mb-0">

      <!-- Card Red -->
      <div class="card classic-admin-card red accent-2">
        <div class="card-body">
          <div class="pull-right">
            <i class="fas fa-chart-bar"></i>
          </div>
          <p><a href="{{ url_for('dash',urlto='UNASSIGNED') }}" class="black-text">Unassigned Tickets</a></p>
          <h4 class="check">{{dashboardData.unassignedT}}</h4>
        </div>

      </div>
      <!-- Card Red -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Classic admin cards -->

<section class="py-my-5">

  <div class="card card-cascade narrower z-depth-0">

    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

      <div>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
            class="fas fa-th-large mt-0"></i></button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
            class="fas fa-columns mt-0"></i></button>
      </div>

      <a href="" class="white-text mx-3">Table name</a>

      <div>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
            class="fas fa-pencil-alt mt-0"></i></button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
            class="fas fa-eraser mt-0"></i></button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
            class="fas fa-info-circle mt-0"></i></button>
      </div>

    </div>

    <div class="px-4">

      <div class="table-responsive">

        <!--Table-->
        <table class="table table-hover mb-0">

          <!-- Table head -->
          <thead>
            <tr>
              <th>
                <input class="form-check-input" type="checkbox" id="checkbox">
                <label for="checkbox" class="form-check-label mr-2 label-table"></label>
              </th>
              <th class="th-lg"><a>First Name <i class="fas fa-sort ml-1"></i></a></th>
              <th class="th-lg"><a>Last Name<i class="fas fa-sort ml-1"></i></a></th>
              <th class="th-lg"><a>Username<i class="fas fa-sort ml-1"></i></a></th>
              <th class="th-lg"><a>Email<i class="fas fa-sort ml-1"></i></a></th>
              <th class="th-lg"><a>Country<i class="fas fa-sort ml-1"></i></a></th>
              <th class="th-lg"><a>City<i class="fas fa-sort ml-1"></i></a></th>
            </tr>
          </thead>
          <!-- Table head -->

          <!-- Table body -->
          <tbody>
            <tr>
              <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkbox1">
                <label for="checkbox1" class="label-table"></label>
              </th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>markotto@gmail.com</td>
              <td>USA</td>
              <td>San Francisco</td>
            </tr>
            <tr>
              <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkbox2">
                <label for="checkbox2" class="label-table"></label>
              </th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>jacobt@gmail.com</td>
              <td>France</td>
              <td>Paris</td>
            </tr>
            <tr>
              <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkbox3">
                <label for="checkbox3" class="label-table"></label>
              </th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>larrybird@gmail.com</td>
              <td>Germany</td>
              <td>Berlin</td>
            </tr>
            <tr>
              <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkbox4">
                <label for="checkbox4" class="label-table"></label>
              </th>
              <td>Paul</td>
              <td>Topolski</td>
              <td>@P_Topolski</td>
              <td>ptopolski@gmail.com</td>
              <td>Poland</td>
              <td>Warsaw</td>
            </tr>
            <tr>
              <th scope="row">
                <input class="form-check-input" type="checkbox" id="checkbox5">
                <label for="checkbox5" class="label-table"></label>
              </th>
              <td>Anna</td>
              <td>Doe</td>
              <td>@andy</td>
              <td>annadoe@gmail.com</td>
              <td>Spain</td>
              <td>Madrid</td>
            </tr>
          </tbody>
          <!-- Table body -->

        </table>
        <!-- Table -->

      </div>

      <hr class="my-0">

      <!-- Bottom Table UI -->
      <div class="d-flex justify-content-between">

        <!-- Name -->
        <select class="mdb-select colorful-select dropdown-primary md-form hidden-md-down">
          <option value="" disabled>Rows number</option>
          <option value="1" selected>5 rows</option>
          <option value="2">25 rows</option>
          <option value="3">50 rows</option>
          <option value="4">100 rows</option>
        </select>

        <!-- Pagination -->
        <nav class="my-4">
          <ul class="pagination pagination-circle pg-blue mb-0">

            <!--First-->
            <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

            <!-- Arrow left -->
            <li class="page-item disabled">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!-- Numbers -->
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">4</a></li>
            <li class="page-item"><a class="page-link">5</a></li>

            <!-- Arrow right -->
            <li class="page-item">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>

            <!-- First -->
            <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

          </ul>
        </nav>
        <!-- Pagination -->

      </div>
      <!-- Bottom Table UI -->

    </div>

  </div>

</section>

</div>
{% endblock %}
