{% extends "layout.html" %}

{% block content %}

<div class="" id="searchForm">

</div>

<div class="card card-cascade narrower z-depth-0">
              <div
                class="view view-cascade gradient-card-header blue-gradient narrower py-2 m-0">


                <div  class="white-text mx-3">
                  <div class="row p-0 m-0">
                    <div class="col-5 p-0 m-0 ">
                  <select id="titleT" value="ALL" class="custom-select-sm border-0 browser-default w-25 float-right" style="background-color:transparent;">
                    <option value="Search">Search</option>
                    <option value="NEW">NEW</option>
                    <option value="OPEN">OPEN</option>
                    <option value="CLOSED">CLOSED</option>
                    <option value="SOLVED">SOLVED</option>
                    <option value="UNSOLVED">UNSOLVED</option>
                    <option value="ASSIGNED">ASSIGNED</option>
                  </select>
                  </div>
                  <div class="col-3 pl-ml-0 ">
                  <div class="float-left">TICKETS</div>
                  </div>
                  <div class="col-4 ">
                  <div ><input id="filterT" class="form-control form-control-sm" placeholder="filter" autocomplete="off"></div>
                  </div>
                  </div>
                </div>


              </div>

              <div class="">

                <div class="card-body table-responsive">

                  <!--Table-->
                  <table id="ticketTable" class="table" cellspacing="0" width="100%">

                    <!-- Table head -->
                    <thead>
                      <tr>
                        <th scope="th-sm">#</th>
                        <th scope="th-sm">Ticket id</th>
                        <th scope="th-sm">User</th>
                        <th scope="th-sm">subject</th>
                        <th scope="th-sm">category</th>
                        <th scope="th-sm">priority</th>
                        <th scope="th-sm">status</th>
                        <th scope="th-sm">created on</th>
                        <th scope="th-sm">updated on</th>
                        <th scope="th-sm">action</th>
                      </tr>
                      </thead>
                    <tbody id="content">

                    </tbody >
                    <!-- Table body -->

                  </table>
                  <!-- Table -->

                </div>

                <hr class="my-0">

                <!-- Bottom Table UI -->


              </div>

            </div>
{% endblock %}

{%  block script %}
   <script type="text/javascript" src="{{  url_for('static',filename='js/pagesJS/dash.js') }}"></script>

{%  endblock %}
