{% extends "layout.html" %}

{% block content %}

<div class="container-fluid ">
  <div class="row">
    <div class="col col-sm-3 align-content-right">

        <!-- Author box -->


              <h5 class="text-center"><strong>Details</strong></h5>

              <p><img src=""
                class="img-fluid img-thumbnail text-center" alt="" style="width:50px; height:50px"></p>

              <p><b>username:</b> <i id="usrNameD"></i></p>
              <p><b>assigned:</b> <i id="assignedD"> </i></p>
              <p><b>status:</b> <i id="statusD"> </i></p>
              <p><b>priority:</b> <i id="priorityD"> </i></p>
              <p><b>created:</b> <i id="createdD"></i></p>
              <p><b>updated:</b> <i id="updatedD"></i></p>


        </div>
        <!-- Author box -->
    <div class="col col-sm-5">
    <!-- Card -->

        <h5 class="text-center"><strong>Ticket</strong></h5>
        <p><i>category:</i> <b id="categoryD"></b></p>
        <p><b><i id="subjectD"></i></b></p>
        <textarea name="name" cols="35" class="ml-4 form-control" style="height:200px;" id="noteD" readonly="readonly">

        </textarea>

        <!-- Author box -->
    </div>
    <div class="col col-sm-4">
      <!-- Card -->

        <h5 class="text-center"><strong>Comments</strong></h5>
          <hr>
        <textarea cols="15" class="ml-4 form-control border-0 white p-0" style="height:250px;font-size:small;" id="commentD" readonly="readonly">

        </textarea>
    </div>



  </div>
  <!-- Author box -->


      </div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
        <div class="card">

    <!-- Card header -->
    <div class="card-header p-2" role="tab" id="headingUnfiled">

      <!-- Heading -->
      <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true"
        aria-controls="collapseUnfiled">
        <h6 class="mt-1 mb-0">
          <span><b>gallery</b></span>
          <i class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card-body">
        <p id="imgUrl"></p>
      </div>
    </div>
      </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
          <div class="card">

      <!-- Card header -->
      <div class="card-header p-2" role="tab" id="headingUnfiled">

        <!-- Heading -->
        <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfileds" aria-expanded="true"
          aria-controls="collapseUnfiled">
          <h6 class="mt-1 mb-0">
            <span><b>comment box</b></span>
            <i class="fas fa-angle-down rotate-icon"></i>
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseUnfileds" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
        data-parent="#accordionEx78">
        <div class="card-body">
          <!--comment box-->
                <div class="md-form input-group">
                  <textarea class="md-textarea form-control" id="comVal" aria-label="With textarea" placeholder="write a comment"></textarea>
            <div class="input-group-apend">
              <span class="input-group-text md-addon btn" id="sendcom">send</span>
            </div>

          </div>
        </div>
      </div>
        </div>
      </div>
      </div>
      </div>
    </div>




<!--image box-->



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          {% for users in user %}
          <div class="row">
            <div class="col-8">
              <p>{{ users.username}}</p>
            </div>
            <form method="post" action="{{ url_for('assign') }}">
              <input type="hidden" name="user_id" value="{{ users.userId }}">
              <input type="hidden" name="ticket_id" value="{{ ticket.ticketId }}">
              <button type="submit" class="btn btn-sm btn-secondary">assign</button>
            </form>
          </div>

        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

</div>
      </div>
    </div>
  </div>

{% endblock %}

{%  block script %}
   <script type="text/javascript" src="{{  url_for('static',filename='js/pagesJS/viewticket.js') }}"></script>

{%  endblock %}
