{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col col-sm-3">

        <!-- Author box -->
        <div class="card card-body">

          
              <h3 class="text-center"><strong>Owner Details</strong></h3>

              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
                class="img-fluid rounded-circle text-center" alt="" style="width:50px; height:50px">

            
            
              <p><strong>username</strong></p>
              <p>
                <i>{{ ticket.user.username }}</i>
              </p>
              <p><strong>created on</strong></p>
              <p><i> {{ ticket.created_at }}</i></p>
              <p><strong>updated on </strong></p>
              <p><i>{{ ticket.updated_at }}</i></p>
              <p><strong>Status</strong></p>
              <p><i>{{ ticket.status }}</i></p>

            

        </div>
        <!-- Author box -->
    </div>
    <div class="col col-sm-6">
    <!-- Card -->

              <!-- Author box -->
    <div class="card card-body">

        <h4 class="text-center"><strong>Ticket Details</strong></h4>

        <img class="img-fluid text-center img-thumbnail" src="{{ url_for('static', filename=ticket.image) }}" alt="Card imagecap"/>
   <div class="card-body">
     <h5 class="card-title">{{ ticket.subject }}</h5>
     <p class="card-text">{{ ticket.comment}}</p>

     {% if session.get('user_role') == "Admin" %}

     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">assign</button>

     {% endif %}
     
      <div class="card-footer ">
        <form name="commentForm" action="{{ url_for('comment') }}" method="post">
          {{ form.hidden_tag() }}
          <input type="hidden" name="ticket_id" value="{{ ticket.ticketId }}">

          <div class="md-form text-body">
            {{ form.comment.label }} <br>
            {{ form.comment(class_="form-control md-textarea") }}
            {% for error in form.comment.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
            </div>

          <p>{{ form.status.label }} <br>
            {{ form.status}}
            {% for error in form.status.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>
          <p>
            {{ form.submit() }}
          </p>

        </form>
      </div>
    </div>
              <!-- Author box -->
    </div>
    </div>
    <div class="col col-sm-3 float-right">

      <div class="card"><h4 class="text-center"><strong>Comments</strong></h4></div>

      {% for data in comments %}


      <!-- Card -->
      <section >

        <!-- Author box -->
        <div class="card card-body">
           

            <!-- Author Data -->
            <div class="col-12 col-sm-10">

              <p>

                <strong>{{ data.user.username }}</strong> (<i>{{ data.user.role }}</i>)

              </p>

              
              <p class="dark-grey-text article">
                {{ data.comment }}
              </p>

            </div>

        

        </div>
        <!-- Author box -->

      </section>

      {% endfor %}
      </div>
      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          {% for users in user %}
          <div class="row">
            <div class="col-8">
              <p>{{ users.username}}</p>
            </div>
            <form method="post" action="{{ url_for('assign') }}">
              <input type="hidden" name="user_id" value="{{ users.userId }}">
              <input type="hidden" name="ticket_id" value="{{ ticket.ticketId }}">
              <input type="submit" value="assign" >
            </form>
          </div>

        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

</div>
      </div>
    </div>
  </div>

{% endblock %}
