{% extends "layout.html" %}

{% block content %}

<div class="container-fluid ">
  <div class="row">
    <div class="col">
    <nav class="navbar navbar-dark green mb-1">

      <h5 class="mx-auto"><strong>Details</strong></h5>

      <h5 class="text-center mx-auto"><strong>Ticket</strong></h5>

      <h5 class="text-center float-left mx-auto "><strong>Comments</strong></h5>
    </nav>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-3 align-content-right border-right border-left">

        <!-- Author box -->
              <p><img src=""
                class="img-fluid img-thumbnail text-center" alt="" style="width:50px; height:50px"></p>

              <p><b>username:</b> <i id="usrNameD"></i></p>
              <p>
                <div class="md-form input-group py-0 my-0">
                  <div class="input-group-prepend ">
                    <span class="input-group-text p-0 md-addon">assigned:</span>
                  </div>
                  <input type="text" id="assignedD" class="form-control disabled input-sm">
                  <div class="input-group-append">
                    <span class="input-group-text px-1 py-0 font-sm" id="assignTech"><i class="fas fa-pencil-alt font-sm mt-0"></i></span>
                  </div>
                </div>

               </p>
              <p>
                <div class="md-form input-group py-0 my-0">
                  <div class="input-group-prepend ">
                    <span class="input-group-text p-0 md-addon">status:</span>
                  </div>
                  <select class="disabled form-control border-0" id="changeSat" name="fieldS">
                      <option value="" id="opt1"></option>
                      <option value="" id="opt2"></option>
                      <option value="" id="opt3"></option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-text px-1 py-0 font-sm" id="Estatus"><i class="fas fa-pencil-alt font-sm mt-0"></i></span>
                  </div>
                </div>
              </p>
              <p><b>priority:</b> <i id="priorityD"> </i></p>
              <p><b>created:</b> <i id="createdD"></i></p>
              <p><b>updated:</b> <i id="updatedD"></i></p>


        </div>
        <!-- Author box -->
    <div class="col col-sm-5 border-right">
    <!-- Card -->

        <p><i>category:</i> <b id="categoryD"></b></p>
        <p><b><i id="subjectD"></i></b></p>
        <textarea name="name" cols="35" class="ml-3 form-control" style="height:200px;" id="noteD" readonly="readonly">

        </textarea>

        <!-- Author box -->
    </div>
    <div class="col col-sm-4 border-right">
      <!-- Card -->
        <textarea cols="15" class="ml-3 form-control border-0 white p-0" style="height:250px;font-size:small;" id="commentD" readonly="readonly">

        </textarea>
    </div>



  </div>
  <!-- Author box -->


      </div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="accordion md-accordion accordion-blocks" id="accordionEx77" role="tablist" aria-multiselectable="true">
        <div class="card">

    <!-- Card header -->
    <div class="card-header p-2" role="tab" id="headingUnfiled">

      <!-- Heading -->
      <a data-toggle="collapse" data-parent="#accordionEx77" href="#collapseUnfiled" aria-expanded="true"
        aria-controls="collapseUnfiled">
        <h6 class="mt-1 mb-0">
          <span><b>gallery</b></span>
          <i class="fas fa-angle-down rotate-icon"></i>
        </h6>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
      data-parent="#accordionEx78">
      <div class="card-body">
        <p id="imgUrl"></p>
      </div>
    </div>
      </div>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true">
          <div class="card">

      <!-- Card header -->
      <div class="card-header p-2" role="tab" id="headingUnfiled">

        <!-- Heading -->
        <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfileds" aria-expanded="true"
          aria-controls="collapseUnfiled">
          <h6 class="mt-1 mb-0">
            <span><b>comment box</b></span>
            <i class="fas fa-angle-down rotate-icon"></i>
          </h6>
        </a>
      </div>

      <!-- Card body -->
      <div id="collapseUnfileds" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
        data-parent="#accordionEx78">
        <div class="card-body">
          <!--comment box-->
                <div class="md-form input-group">
                  <textarea class="md-textarea form-control" id="comVal" aria-label="With textarea" placeholder="write a comment"></textarea>
            <div class="input-group-apend">
              <span class="input-group-text md-addon btn" id="sendcom">send</span>
            </div>

          </div>
        </div>
      </div>
        </div>
      </div>
      </div>
      </div>
    </div>

<!--image box-->



<!-- Modal -->
<div class="modal fade" id="listTechM" tabindex="-1" role="dialog" aria-labelledby="listTechM" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">

      <div class="modal-body" id="Mcontent">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>



{% endblock %}

{%  block script %}
   <script type="text/javascript" src="{{  url_for('static',filename='js/pagesJS/viewticket.js') }}"></script>

{%  endblock %}
